@font-face
{
	font-family: 'Open Sans', sans-serif;
}

html, body {
	width: auto;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}
body
{
	overflow:hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	
}


.holder {

	width:70%;
	height:auto;
	display: block;
	margin: 0 auto;
}

canvas{
	position: absolute;
}

.holder svg {
	position: absolute;
	margin:auto;
	top:10%;
	left: 30%;
}


#layer-1 {
	-webkit-animation-name: spin;
	-webkit-animation-duration: 4000ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spin;
	-moz-animation-duration: 4000ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spin;
	-ms-animation-duration: 4000ms;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;

	animation-name: spin;
	animation-duration: 4000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@-ms-keyframes spin {
	from { -ms-transform: rotate(0deg); }
	to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}

.shape-4, .shape-5, .shape-6 {

}
.shape-1, .shape-4 {
	opacity: 0.2;
}
.shape-2, .shape-5 {
	opacity: 0.5;
}
.shape-3, .shape-6 {
	opacity: 0.5;
}

.head {
	text-align: center;
	font-size: 3em;
	font-family: Oswald, sans-serif;
}
.shead {
	position: relative;
	text-align: center;
	top: 10%;
	font-size: 3em;
	font-family: Oswald, sans-serif;
}
.ss {
	font-size: 2.2em
}
.info {
	text-align: justify;
	font-size: 1.5em;
	margin: 7%;
	margin-top: 4%;
}
a , a:hover, a:visited, a:active{
	text-decoration: none;
	font-weight: bold;
	color: #000;
}
iframe {
	width: 90%;
	height: 32em;
}